body {
  font-family: 'Roboto', sans-serif;
}

#payments {

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

#header {
  background-color: #FF5A5F;
  color: #fff;  
}

.vertical-nav {
  background-color: #FF5A5F;
  margin-top: 55px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  overflow-y:scroll;
  overflow-x:hidden;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.text-link:hover {
  background-color: #fff;
  color: #FF5A5F;
  font-style: italic;
}

.text-link {
  color: #fff;
}

.text-link:active {
  background-color: #fff;
  color: #FF5A5F;
  font-style: italic;
}

.text-link:focus {
  background-color: #fff;
  color: #FF5A5F;
  font-style: italic;
}


// form

.label-form {
  font-size: 14px;
  color: #767676;
}

.form-group {
  margin-bottom: 5px;
}

input.form-control::placeholder {
  font-style: italic;
  font-size: 12px;
}

//image_url
.property-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  @media (min-width: 768px) {
    height: 400px;
  }
}
