.vertical-nav {
  background-color: #FF5A5F;
  margin-top: 55px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  overflow-y:scroll;
  overflow-x:hidden;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.text-link:hover {
  background-color: #767676;
  color: #fff;
  font-style: italic;
}

.text-link {
  color: #fff;
}

.text-link:active {
  background-color: #767676;
  color: #fff;
  font-style: italic;
}

.text-link:focus {
  background-color: #767676;
  color: #fff;
  font-style: italic;
}
